@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap");
body {
  background-color: #F8F6F2 ;
}
.unnav-text {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

body.dark {
  background-color: #294038;
  color: #f8f6f2;
}

body.dark nav {
  background-color: #1C2E28;
}



body.dark a {
  color: #f8f6f2;
}
/* Default light mode */
body {
  background-color: #f8f6f2;
  color: #1a1a1a;
}

/* Dark mode */
body.dark {
  background-color: #294038;
  color: #f8f6f2;
}

/* Example: buttons */


body.dark button {
  background-color: #333;
  color: #fff;
}

body.dark h1 {
    color: #F8F6F2;

}body.dark h2 {
    color: #F8F6F2;

}
