@import "tailwindcss";
@plugin "daisyui";
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap");
body {
  background-color: #fff3c6;
}
.unnav-text {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}
